body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}


#root {
  min-height: 100vh;
}


.container {

  width: 400px;

  margin: 80px auto;

  padding: 40px;

  background: white;

  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

  text-align: center;

}


h1 {

  margin-bottom: 30px;

  color: #333;

}


input {

  width: 90%;

  padding: 12px;

  font-size: 18px;

  border-radius: 10px;

  border: 1px solid #ccc;

  margin-bottom: 20px;

}



select {

  padding: 10px;

  margin: 10px;

  font-size: 16px;

  border-radius: 8px;

}



button {

  margin-top: 20px;

  padding: 12px 30px;

  font-size: 18px;

  border: none;

  border-radius: 12px;

  background: #2563eb;

  color: white;

  cursor: pointer;

}



button:hover {

  background: #1d4ed8;

}



h2 {

  margin-top: 30px;

  color: #111827;

}